@import 'tailwindcss';

@plugin 'daisyui';
@plugin 'daisyui/theme' {
	name: 'light';
	default: true;
	prefersdark: true;
	color-scheme: light;

	--color-primary: #1d4ed8;
	--color-secondary: #93c5fd;
	--color-accent: #6d28d9;
	--color-neutral: #18181b;
	--color-base-100: #dbeafe;
}

@theme {
	--color-primary: #1d4ed8;
	--color-secondary: #93c5fd;
	--color-accent: #6d28d9;
	--color-neutral: #18181b;
	--color-base-100: #dbeafe;
}

.debug {
	border-width: var(--border);
	border-color: var(--border-red-500);
}
